/%ul.list-group
/  %li.list-group-item
/    %h4.text-center= t('footer.on_map')
/  %li.list-group-item
/    %script{charset: "utf-8", src: "https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=nYazXwjnBddEKI7j2uJxc_dqL9MznD6B&width=100%&height=285&lang=ru_RU&sourceType=constructor", type: "text/javascript"}
