<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

<nav id="taxonomies" class="sidebar-item hidden-xs" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, max_level, @taxon] do %>
      <h4 class='taxonomy-root'>
        <%= link_to Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name), seo_url(taxonomy.root)  %>
      </h4>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</nav>
